.mensaje{
    color:rgb(208, 216, 214);
    min-width: 45vw;
}
.texto-mensaje{
    color:white;
}
.paper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.caja-chat{
  margin: 10px;
  margin-bottom: 0px;
  display:flex;
  flex-direction: column;
  
  max-height: 50vh;
  overflow: auto;
  min-width: 55vw;
}

.avatar{
  margin: 10px;
  background: linear-gradient(45deg, #33FFC6 20%, #DD5DF8 60%);
}

  /* Tamaño del scroll */
  .caja-chat::-webkit-scrollbar {
    width: 9px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .caja-chat::-webkit-scrollbar-thumb {
    background: #1ABC9C;
    border-radius: 4px;
  }
  
  .caja-chat::-webkit-scrollbar-thumb:active {
    background-color: #12856e;
  }
  
  .caja-chat::-webkit-scrollbar-thumb:hover {
    background: #12856e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .caja-chat::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .caja-chat::-webkit-scrollbar-track:hover, 
  .caja-chat::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }



@media only screen and (min-width: 800px){
    .caja-chat{
        background-color: rgba(0, 0, 0, 0.4);
  }

}
